.headersix {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: Impact;
    font-size: 400%;
    text-align: center;
}

body {
    background-color: blueviolet;
}